auto-complete*
*.swp
semanticdb*
emacs-wiki-files*
clang*
company*
cedet*
loaddefs.el*
backups/*
emacs-backup/*
trash/*
emacs-ide/*
emacs-nav/*
vendor/*
*~
*#
auto-save-list
custom.el
*elc
places
url/cookies
elpa-to-submit/jabber/jabber.info
elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc
thumbs/*
oddmuse/*
.newsrc-dribble
.nnmail-cache
/#.newsrc-dribble#
.svn
.DS_Store
image-dired/
elim/
elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc~
session*
tramp
\#*
history
/init.el~
/starter-kit-bindings.el~
/anything-c-adaptive-history
/trash/
/yasnippet-read-only/
/yasnippet/
/np.el
/js.js
/ido/.ido.last
/frequencies
/pom.xml
/.#hooptie45.el
/index.html?q=install&con=nxd
/snippets/c++-mode/.yas-parents
/.#popup.el
/newsticker/feeds/Emacs Wiki/data
/auto-complete/COPYING.FDL.txt
/auto-complete/COPYING.GPLv3.txt
/auto-complete/Makefile
/auto-complete/README.txt
/auto-complete/TODO.txt
/auto-complete/auto-complete-config.el
/auto-complete/auto-complete.el
/auto-complete/dict/c++-mode
/auto-complete/dict/c-mode
/auto-complete/dict/clojure-mode
/auto-complete/dict/css-mode
/auto-complete/dict/java-mode
/auto-complete/dict/javascript-mode
/auto-complete/dict/php-mode
/auto-complete/dict/python-mode
/auto-complete/dict/ruby-mode
/auto-complete/dict/scheme-mode
/auto-complete/dict/tcl-mode
/auto-complete/doc/ac-fuzzy.png
/auto-complete/doc/ac-isearch.png
/auto-complete/doc/ac.png
/auto-complete/doc/changes.ja.txt
/auto-complete/doc/changes.txt
/auto-complete/doc/demo.txt
/auto-complete/doc/index.ja.txt
/auto-complete/doc/index.txt
/auto-complete/doc/manual.ja.txt
/auto-complete/doc/manual.txt
/.clang-completion-error
/eproject.lst
/fuzzy-find-in-project.el
/groups/t.el
