loaddefs.el*
backups/*
emacs-backup/*
trash/*
emacs-ide/*
emacs-nav/*
vendor/*
*~
*#
auto-save-list
custom.el
*elc
places
url/cookies
elpa-to-submit/jabber/jabber.info
elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc
thumbs/*
oddmuse/*
.newsrc-dribble
.nnmail-cache
/#.newsrc-dribble#
.svn
.DS_Store
image-dired/
elim/
elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc~
session*
tramp
\#*
history
/init.el~
/starter-kit-bindings.el~
/anything-c-adaptive-history
/trash/
/yasnippet-read-only/
/yasnippet/
/np.el
/js.js
/ido/.ido.last
/frequencies
/pom.xml
/.#hooptie45.el
/index.html?q=install&con=nxd
/snippets/c++-mode/.yas-parents
